@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ccb4c3;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.background {
  width: 100%;
}

.background img {
  width: 100%;
}

.collapse {
  padding: 10px;
  width: 100%;
  color: #688900;
  background-color: #ccb4c3;
  border: none;
  font-family: Poppins, arial;
  transition: background-color 600ms ease;
}

.collapse2 {
  padding: 10px;
  width: 100%;
  color: #688900;
  background-color: #ccb4c3;
  border: none;
  font-family: Poppins, arial;
  transition: background-color 600ms ease;
}

.navbg {
  background-color: #ccb4c3;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.navtop {
  width: 100%;
}

.navbottom {
  width: 100%;
}

.toplist {
  padding: 0;
  margin: 0;
  width: 100%;
  display: none;
  animation: growDown 300ms ease-in-out forwards;
}

.toplist:not(:last-child) {
  padding: 0;
  width: 100%;
}

.bottomlist {
  padding: 0;
  margin: 0;
  width: 100%;
  display: none;
}

.active {
  background-color: #5d3277;
}

.topbutton {
  padding: 10px;
  width: 100%;
  color: #688900;
  background-color: #ccb4c3;
  border: none;
  font-family: Poppins, arial;
}

.bottombutton {
  padding: 10px;
  width: 100%;
  color: #688900;
  background-color: #ccb4c3;
  border: none;
  font-family: Poppins, arial;
}

.searchbar {
  width: 90%;
  text-align: center;
}