@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ccb4c3;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
.background {
  width: 100%;
}
.background img {
  width: 100%;
}

.collapse {
  padding: 10px;
  width: 100%;
}

.collapse2 {
  padding: 10px;
  width: 100%;
}

.navbg {
  background-color: #5d3277;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.navtop {
  width: 100%;
}

.navbottom {
  width: 100%;
}

.toplist {
  padding: 0 10px;
  margin: 0;
  width: 100%;
  display: none;
}

.toplist:not(:last-child) {
  padding: 10px;
  width: 100%;
}

.bottomlist {
  padding: 0 10px;
  margin: 0;
  width: 100%;
  display: none;
}

