@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Poppins", sans-serif;
  width: 100%;
  z-index: 0;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.cool-image {
  top: 3.5rem;
  background-image: url("https://images.unsplash.com/photo-1599410110298-56ab00841c11?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  height: 300px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cool-image h1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.nav {
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
  background-color: #71c7ec;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto 20%;
      grid-template-columns: 20% auto 20%;
  -ms-grid-rows: 3.5rem auto;
      grid-template-rows: 3.5rem auto;
  -webkit-box-shadow: 0px 0px 5px 1px gray;
          box-shadow: 0px 0px 5px 1px gray;
}

.slideout {
  overflow: hidden;
  -webkit-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
  height: auto;
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 3;
      grid-column-end: span 3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dark {
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 100%;
  background-color: black;
  opacity: 60%;
  z-index: 1;
}

.menu-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  visibility: visible;
}

.menu-out.dark {
  height: 100%;
}

.slideout button {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-width: 0;
  background-color: #f8fcfe;
  margin: 0;
}

.slideout button:nth-child(1) {
  border-bottom-width: 1px;
  background: linear-gradient(gray 1px, #f8fcfe 4px);
}

.slideout button:nth-child(2) {
  border-bottom-width: 1px;
}

.slideout button a {
  display: block;
  width: auto;
  height: 100%;
  padding: 1.25rem;
  text-decoration: none;
  color: black;
  text-shadow: gray 1px 1px 2px;
}

.burger {
  -ms-grid-column: 3;
      grid-column-start: 3;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #71c7ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  display: block;
  height: 0.19rem;
  border-radius: 10%/50%;
  width: 2rem;
  background: black;
  -webkit-filter: drop-shadow(2px 2px white);
          filter: drop-shadow(2px 2px white);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.line::before {
  content: "";
  position: absolute;
  display: block;
  height: 0.19rem;
  border-radius: 10%/50%;
  width: 2rem;
  background: black;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.line::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.19rem;
  border-radius: 10%/50%;
  width: 2rem;
  background: black;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.burger.open {
  background-color: #7eccee;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.burger img {
  vertical-align: middle;
}

.logo {
  -ms-grid-column: 1;
  grid-column: 1;
  margin: auto;
  -webkit-filter: drop-shadow(2px 2px white);
          filter: drop-shadow(2px 2px white);
  height: 2em;
}

.blank {
  height: 3.5rem;
  position: relative;
  top: 0px;
  z-index: 0;
}

.logo-text {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  -webkit-filter: drop-shadow(2px 2px white);
          filter: drop-shadow(2px 2px white);
}

.line.line-active {
  background: transparent;
}

.line.line-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.line.line-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#ab,
#st,
#ar {
  margin-top: -3.5rem;
  padding-top: 3.5rem;
}

.about {
  margin: 0;
  padding: 0 0.7rem;
  padding-bottom: 0.7rem;
}

.wrapper-staff {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(1rem, 24rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(1rem, 24rem));
  -ms-grid-rows: (auto)[auto-fit];
      grid-template-rows: repeat(auto-fit, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-doctor {
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-doctor img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1.4rem;
  width: 80%;
  -webkit-box-shadow: 1px 1px 2px black;
          box-shadow: 1px 1px 2px black;
  border-radius: 50%;
  border: 3px solid #71c7ec;
  border-color: #71c7ec;
}

#st {
  width: 100%;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-bottom: 0.7rem;
}

.appt {
  width: 100%;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-bottom: 0.7rem;
}

.scr-btn {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 2rem;
  right: 3.7rem;
  background-color: #b4e2f5;
  border: 1px solid lightgray;
  -webkit-box-shadow: 1px 1px 4px white;
          box-shadow: 1px 1px 4px white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  line-height: 3rem;
  width: 3rem;
  height: 3rem;
  padding: auto;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  z-index: 0.5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.showBtn {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#scrollToTopBtn img {
  height: 65%;
  pointer-events: none;
  -webkit-filter: drop-shadow(2px 2px white);
          filter: drop-shadow(2px 2px white);
}

#select-insurance {
  margin-bottom: 1.33em;
}

.submit {
  margin-top: 0.7rem;
  border: 0.5px solid black;
  border-radius: 0.5rem;
  width: 100%;
  height: 3rem;
  background-color: #71c7ec;
  color: black;
  text-shadow: 1px 1px 3px white;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}

.footer {
  background-color: #71c7ec;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  margin: 0;
  margin-top: 1.4rem;
  padding-bottom: 0.7rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.footer p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  text-align: center;
}

.footer img {
  width: 3rem;
  stroke: gray;
  fill: gray;
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.disclaimer {
  padding: 0.5rem;
  background-color: #71c7ec;
  border-top: solid 1px black;
  font-size: 0.5rem;
  margin-top: 0.7rem;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select:focus {
  border-color: #71c7ec;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem #71c7ec;
          box-shadow: 0 0 0 0.25rem #71c7ec;
}

.form-select[multiple],
.form-select[size]:not([size="1"]) {
  padding-right: 0.75rem;
  background-image: none;
}

.form-select:disabled {
  color: #6c757d;
  background-color: #e9ecef;
}

.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

.calendar {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.calendar:focus {
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem #71c7ec;
          box-shadow: 0 0 0 0.25rem #71c7ec;
}

.calendar:disabled {
  color: #6c757d;
  background-color: #e9ecef;
}

.calendar:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

.input-name {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-name:focus {
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem #71c7ec;
          box-shadow: 0 0 0 0.25rem #71c7ec;
}

.input-name:disabled {
  color: #6c757d;
  background-color: #e9ecef;
}

.input-name:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 20px;
  }
  .nav {
    -ms-grid-columns: 10% 35% 1fr 1fr 2.5fr;
        grid-template-columns: 10% 35% 1fr 1fr 2.5fr;
    -ms-grid-rows: 3.5rem;
        grid-template-rows: 3.5rem;
    width: 100%;
  }
  .slideout {
    display: contents;
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
    width: 100%;
  }
  .burger {
    display: none;
  }
  .dark {
    display: none;
    overflow: auto;
  }
  .slideout button {
    font-size: 0.7em;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border-width: 0;
    margin: 0;
    background-color: #71c7ec;
    padding: 0;
  }
  .slideout button a {
    width: auto;
    height: 3.5rem;
    padding: 0;
    line-height: 3.5rem;
    text-decoration: none;
    color: black;
    text-shadow: gray 1px 1px 2px;
  }
  .slideout button:nth-child(1) {
    border-bottom: none;
    background: #71c7ec;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
  }
  .slideout button:nth-child(2) {
    border-bottom: none;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
  }
  .slideout button:nth-child(3) {
    border-bottom: none;
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 6;
  }
  .logo-text {
    line-height: 0;
    text-indent: -99999px;
  }
  .logo-text::after {
    content: "San Antonio Central Dentistry";
    text-indent: 0;
    line-height: initial;
    font-size: 18px;
  }
  .form-appt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-appt * {
    max-width: 50%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  body {
    font-size: 24px;
  }
  .nav {
    -ms-grid-columns: 10% 35% 1fr 1fr 2.5fr;
        grid-template-columns: 10% 35% 1fr 1fr 2.5fr;
    -ms-grid-rows: 3.5rem;
        grid-template-rows: 3.5rem;
    width: 100%;
  }
  .slideout {
    display: contents;
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
    width: 100%;
  }
  .burger {
    display: none;
  }
  .dark {
    display: none;
    overflow: auto;
  }
  .slideout button {
    font-size: 0.7em;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border-width: 0;
    margin: 0;
    background-color: #71c7ec;
    padding: 0;
  }
  .slideout button a {
    width: auto;
    height: 3.5rem;
    padding: 0;
    line-height: 3.5rem;
    text-decoration: none;
    color: black;
    text-shadow: gray 1px 1px 2px;
  }
  .slideout button:nth-child(1) {
    border-bottom: none;
    background: #71c7ec;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
  }
  .slideout button:nth-child(2) {
    border-bottom: none;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
  }
  .slideout button:nth-child(3) {
    border-bottom: none;
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 6;
  }
  .logo-text {
    line-height: 0;
    text-indent: -99999px;
  }
  .logo-text::after {
    content: "San Antonio Central Dentistry";
    text-indent: 0;
    line-height: initial;
    font-size: 22px;
  }
  .form-appt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-appt * {
    max-width: 50%;
  }
  .wrapper-staff {
    -webkit-column-gap: 10%;
            column-gap: 10%;
  }
}
/*# sourceMappingURL=style.css.map */