@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 0;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.cool-image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../img/photo-1599410110298-56ab00841c11.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  top: 3.5rem;
}

.cool-image h1 {
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-shadow: 1px 1px 2px black;
}

.nav {
  background-color: #71c7ec;
  -webkit-box-shadow: 0 0 5px 1px gray;
          box-shadow: 0 0 5px 1px gray;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto 20%;
      grid-template-columns: 20% auto 20%;
  -ms-grid-rows: 3.5rem auto;
      grid-template-rows: 3.5rem auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.slideout {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column-span: 3;
      grid-column-end: span 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  height: auto;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 3;
}

.dark {
  background-color: black;
  opacity: 60%;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}

.menu-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  visibility: visible;
}

.menu-out.dark {
  height: 100%;
}

.slideout button {
  background-color: #f8fcfe;
  border-width: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.slideout button:nth-child(1) {
  background: linear-gradient(gray 1px, #f8fcfe 4px);
  border-bottom-width: 1px;
}

.slideout button:nth-child(2) {
  border-bottom-width: 1px;
}

.slideout button a {
  color: black;
  display: block;
  height: 100%;
  padding: 1.25rem;
  text-decoration: none;
  text-shadow: gray 1px 1px 2px;
  width: auto;
}

.burger {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #71c7ec;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.line {
  background: black;
  border-radius: 10%/50%;
  display: block;
  -webkit-filter: drop-shadow(2px 2px white);
          filter: drop-shadow(2px 2px white);
  height: 0.19rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  width: 2rem;
}

.line::before {
  background: black;
  border-radius: 10%/50%;
  content: '';
  display: block;
  height: 0.19rem;
  position: absolute;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 2rem;
}

.line::after {
  background: black;
  border-radius: 10%/50%;
  content: '';
  display: block;
  height: 0.19rem;
  position: absolute;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 2rem;
}

.burger.open {
  background-color: #7eccee;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.burger img {
  vertical-align: middle;
}

.logo {
  -webkit-filter: drop-shadow(2px 2px white);
          filter: drop-shadow(2px 2px white);
  -ms-grid-column: 1;
  grid-column: 1;
  height: 2em;
  margin: auto;
}

.blank {
  height: 3.5rem;
  position: relative;
  top: 0;
  z-index: 0;
}

.logo-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(2px 2px white);
          filter: drop-shadow(2px 2px white);
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  -ms-grid-column: 2;
  grid-column: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.line.line-active {
  background: transparent;
}

.line.line-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.line.line-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#ab,
#st,
#ar {
  margin-top: -3.5rem;
  padding-top: 3.5rem;
}

.about {
  margin: 0;
  padding: 0 0.7rem;
  padding-bottom: 0.7rem;
}

.wrapper-staff {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(1rem, 24rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(1rem, 24rem));
  -ms-grid-rows: (auto)[auto-fit];
      grid-template-rows: repeat(auto-fit, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-doctor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.7rem;
}

.container-doctor img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 3px solid #71c7ec;
  border-color: #71c7ec;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 2px black;
          box-shadow: 1px 1px 2px black;
  margin-bottom: 1.4rem;
  width: 80%;
}

#st {
  margin-bottom: 0.7rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  width: 100%;
}

.appt {
  margin-bottom: 0.7rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  width: 100%;
}

.scr-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b4e2f5;
  border: 1px solid lightgray;
  border-radius: 50%;
  bottom: 10rem;
  -webkit-box-shadow: 1px 1px 4px white;
          box-shadow: 1px 1px 4px white;
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 3rem;
  padding: auto;
  position: fixed;
  right: 1.75rem;
  -webkit-transform: translateX(4.75rem);
          transform: translateX(4.75rem);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 3rem;
  z-index: 1;
}

.showBtn {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#scrollToTopBtn img {
  -webkit-filter: drop-shadow(2px 2px white);
          filter: drop-shadow(2px 2px white);
  height: 65%;
  pointer-events: none;
}

#select-insurance {
  margin-bottom: 1.33em;
}

.submit {
  background-color: #71c7ec;
  border: 0.5px solid black;
  border-radius: 0.5rem;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  height: 3rem;
  margin-top: 0.7rem;
  text-shadow: 1px 1px 3px white;
  width: 100%;
}

.footer {
  background-color: #71c7ec;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  margin: 0;
  margin-top: 1.4rem;
  padding-bottom: 0.7rem;
}

.footer p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  text-align: center;
}

.footer img {
  fill: gray;
  stroke: gray;
  width: 3rem;
}

.footer div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.disclaimer {
  background-color: #71c7ec;
  border-top: solid 1px black;
  font-size: 0.5rem;
  margin-top: 0.7rem;
  padding: 0.5rem;
}

.form-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #212529;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  width: 100%;
}

.form-select:focus {
  border-color: #71c7ec;
  -webkit-box-shadow: 0 0 0 0.25rem #71c7ec;
          box-shadow: 0 0 0 0.25rem #71c7ec;
  outline: 0;
}

.form-select[multiple],
.form-select[size]:not([size='1']) {
  background-image: none;
  padding-right: 0.75rem;
}

.form-select:disabled {
  background-color: #e9ecef;
  color: #6c757d;
}

.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

.calendar {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  appearance: none;
  appearance: none;
  background-color: #fff;
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #212529;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  width: 100%;
}

.calendar:focus {
  border-color: #86b7fe;
  -webkit-box-shadow: 0 0 0 0.25rem #71c7ec;
          box-shadow: 0 0 0 0.25rem #71c7ec;
  outline: 0;
}

.calendar:disabled {
  background-color: #e9ecef;
  color: #6c757d;
}

.calendar:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

.phone-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  appearance: none;
  appearance: none;
  background-color: #fff;
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #212529;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  width: 100%;
}

.phone-input:focus {
  border-color: #86b7fe;
  -webkit-box-shadow: 0 0 0 0.25rem #71c7ec;
          box-shadow: 0 0 0 0.25rem #71c7ec;
  outline: 0;
}

.phone-input:disabled {
  background-color: #e9ecef;
  color: #6c757d;
}

.phone-input:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

.input-name {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  appearance: none;
  appearance: none;
  background-color: #fff;
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #212529;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  width: 100%;
}

.input-name:focus {
  border-color: #86b7fe;
  -webkit-box-shadow: 0 0 0 0.25rem #71c7ec;
          box-shadow: 0 0 0 0.25rem #71c7ec;
  outline: 0;
}

.input-name:disabled {
  background-color: #e9ecef;
  color: #6c757d;
}

.input-name:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

.popup {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: none;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.popupcontent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  text-align: center;
  width: 80vw;
}

.popuptext {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.btn-thankyou2 {
  background-color: gray;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  text-shadow: 1px 1px 3px black;
  /* margin-top: .5rem;
	margin-bottom: .5rem; */
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.showpopup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-thankyou2:hover {
  background-color: #71c7ec;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@-moz-document url-prefix() {
  .popup {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav {
    -ms-grid-columns: 10% 35% 1fr 1fr 2.5fr;
        grid-template-columns: 10% 35% 1fr 1fr 2.5fr;
    -ms-grid-rows: 3.5rem;
        grid-template-rows: 3.5rem;
    width: 100%;
  }
  .slideout {
    display: contents;
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
    width: 100%;
  }
  .burger {
    display: none;
  }
  .dark {
    display: none;
    overflow: auto;
  }
  .slideout button {
    background-color: #71c7ec;
    border-width: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  .slideout button a {
    color: black;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0;
    text-decoration: none;
    text-shadow: gray 1px 1px 2px;
    width: auto;
  }
  .slideout button:nth-child(1) {
    background: #71c7ec;
    border-bottom: none;
    grid-column-end: 4;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .slideout button:nth-child(2) {
    border-bottom: none;
    grid-column-end: 5;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .slideout button:nth-child(3) {
    border-bottom: none;
    grid-column-end: 6;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .logo-text {
    line-height: 0;
    text-indent: -99999px;
  }
  .logo-text::after {
    content: 'San Antonio Central Dentistry';
    font-size: 18px;
    line-height: initial;
    text-indent: 0;
  }
  .form-appt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-appt * {
    line-height: 2;
    max-width: 50%;
  }
  body {
    font-size: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .nav {
    -ms-grid-columns: 10% 35% 1fr 1fr 2.5fr;
        grid-template-columns: 10% 35% 1fr 1fr 2.5fr;
    -ms-grid-rows: 3.5rem;
        grid-template-rows: 3.5rem;
    width: 100%;
  }
  .slideout {
    display: contents;
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
    width: 100%;
  }
  .burger {
    display: none;
  }
  .dark {
    display: none;
    overflow: auto;
  }
  .slideout button {
    background-color: #71c7ec;
    border-width: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  .slideout button a {
    color: black;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0;
    text-decoration: none;
    text-shadow: gray 1px 1px 2px;
    width: auto;
  }
  .slideout button:nth-child(1) {
    background: #71c7ec;
    border-bottom: none;
    grid-column-end: 4;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .slideout button:nth-child(2) {
    border-bottom: none;
    grid-column-end: 5;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .slideout button:nth-child(3) {
    border-bottom: none;
    grid-column-end: 6;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .logo-text {
    line-height: 0;
    text-indent: -99999px;
  }
  .logo-text::after {
    content: 'San Antonio Central Dentistry';
    font-size: 22px;
    line-height: initial;
    text-indent: 0;
  }
  .form-appt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-appt * {
    line-height: 2;
    max-width: 50%;
  }
  body {
    font-size: 24px;
  }
  .wrapper-staff {
    -webkit-column-gap: 10%;
            column-gap: 10%;
  }
}

@media (min-width: 1440px) and (max-width: 2559px) {
  .nav {
    -ms-grid-columns: 10% 35% 1fr 1fr 2.5fr;
        grid-template-columns: 10% 35% 1fr 1fr 2.5fr;
    -ms-grid-rows: 3.5rem;
        grid-template-rows: 3.5rem;
    width: 100%;
  }
  .slideout {
    display: contents;
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
    width: 100%;
  }
  .burger {
    display: none;
  }
  .dark {
    display: none;
    overflow: auto;
  }
  .slideout button {
    background-color: #71c7ec;
    border-width: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  .slideout button a {
    color: black;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0;
    text-decoration: none;
    text-shadow: gray 1px 1px 2px;
    width: auto;
  }
  .slideout button:nth-child(1) {
    background: #71c7ec;
    border-bottom: none;
    grid-column-end: 4;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .slideout button:nth-child(2) {
    border-bottom: none;
    grid-column-end: 5;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .slideout button:nth-child(3) {
    border-bottom: none;
    grid-column-end: 6;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .logo-text {
    line-height: 0;
    text-indent: -99999px;
  }
  .logo-text::after {
    content: 'San Antonio Central Dentistry';
    font-size: 22px;
    line-height: initial;
    text-indent: 0;
  }
  .form-appt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-appt * {
    line-height: 2;
    max-width: 50%;
  }
  body {
    font-size: 24px;
  }
  .wrapper-staff {
    -webkit-column-gap: 5%;
            column-gap: 5%;
  }
}

@media (min-width: 2560px) {
  .nav {
    -ms-grid-columns: 10% 35% 1fr 1fr 2.5fr;
        grid-template-columns: 10% 35% 1fr 1fr 2.5fr;
    -ms-grid-rows: 3.5rem;
        grid-template-rows: 3.5rem;
    width: 100%;
  }
  .slideout {
    display: contents;
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
    -ms-grid-column: 3;
        grid-column-start: 3;
    width: 100%;
  }
  .burger {
    display: none;
  }
  .dark {
    display: none;
    overflow: auto;
  }
  .slideout button {
    background-color: #71c7ec;
    border-width: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  .slideout button a {
    color: black;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0;
    text-decoration: none;
    text-shadow: gray 1px 1px 2px;
    width: auto;
  }
  .slideout button:nth-child(1) {
    background: #71c7ec;
    border-bottom: none;
    grid-column-end: 4;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  .slideout button:nth-child(2) {
    border-bottom: none;
    grid-column-end: 5;
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
  .slideout button:nth-child(3) {
    border-bottom: none;
    grid-column-end: 6;
    -ms-grid-column: 5;
        grid-column-start: 5;
  }
  .logo-text {
    line-height: 0;
    text-indent: -99999px;
  }
  .logo-text::after {
    content: 'San Antonio Central Dentistry';
    font-size: 22px;
    line-height: initial;
    text-indent: 0;
  }
  .form-appt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-appt * {
    line-height: 2;
    max-width: 50%;
  }
  body {
    font-size: 40px;
  }
  .cool-image {
    height: 500px;
  }
  #ab,
  #st,
  #ar {
    margin-top: -5rem;
    padding-top: 5rem;
  }
  .nav {
    height: 5rem;
  }
  .nav * {
    font-size: 40px;
    height: 5rem;
  }
  .nav button a {
    height: 5rem;
    line-height: 5rem;
  }
  .logo-text::after {
    font-size: 40px;
  }
  .logo {
    height: 1.75em;
    margin: 0.125em auto;
  }
  .input-name,
  .calendar,
  #select-insurance,
  .phone-input {
    font-size: 30px;
    line-height: 3;
  }
  .submit {
    font-size: 30px;
    line-height: 35px;
    max-width: 20%;
    vertical-align: middle;
  }
  .disclaimer {
    font-size: 20px;
  }
  .scr-btn {
    height: 6rem;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
    width: 6rem;
  }
  .showBtn {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .btn-thankyou2 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .cool-image {
    background-image: url("../../img/photo-1599410110298-56ab00841c11 (1).jpg");
    background-position: 0% 30%;
  }
  .footer {
    -ms-grid-columns: 10% 10% 10% 10%;
        grid-template-columns: 10% 10% 10% 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .form-appt h4:nth-child(1) {
    margin-top: 0;
  }
  .wrapper-staff {
    margin-bottom: 1em;
  }
  .nav button {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  .nav button:hover {
    background-color: #95d5f1;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  .footer img {
    -webkit-filter: grayscale(100);
            filter: grayscale(100);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  .footer img:hover {
    -webkit-filter: none;
            filter: none;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  .popupcontent {
    width: 40vw;
  }
}
/*# sourceMappingURL=style.css.map */